<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <div id="app">
      <h1>Reset Password</h1>
      <div v-if="!done">
        <h1>Reset Password</h1>
        <div v-if="error_message">{{error_message}}</div>
        <form @submit.prevent="handleSubmit" method="post">
          <label for="password">Password</label>
          <input type="password" name="password" v-model="password" />
          <label for="confirm_password">Confirm Password</label>
          <input
            type="password"
            name="confirm_password"
            v-model="confirm_password"
          />
          <button type="submit">Change Password</button>
        </form>
      </div>
      <div v-else><h1>{{success_msg}}</h1></div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            done: false,
            password: "",
            confirm_password: "",
            error_message: "",
            success_msg: "",
          };
        },
        methods: {
          async handleSubmit() {
            console.log("hello");
            let { password, confirm_password } = this;
            if (!password) {
              this.error_message = "Please Fill The Password Field";
            }
            if (password.length < 10) {
              this.error_message =
                "Please Fill The Password Field atleast 10 Charecter";
            }
            if (password !== confirm_password) {
              this.error_message = "Password Not Same With Confirm Password";
            }
            const resetPasswordToken = window.location.href.split("/").pop();
            const res = await fetch(
              "http://localhost:3000/users/reset-password/" +
                resetPasswordToken,
              {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ password }),
              }
            );
            const jsonResult = await res.json();
            if (jsonResult.success) {
              this.done = true;
              this.success_msg = jsonResult.message;
            }
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
